.historia-section {
    padding: 60px 0 100px 0;
    background: #f3f3f3;
    border-bottom: 1px solid #e3e3e3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.historia-section .container {
    margin-right: auto;
    margin-left: auto;
    width: 940px;
    max-width: 100%;
}

.historia-section h2 {
    text-align: center;
    font-size: 31.5px;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: -3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.historia-section .icon-works {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.historia-section .icon-works::before,
.historia-section .icon-works::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #d3d3d3;
    margin: 0 20px;
}

.historia-section .icon-works img {
    width: 100px;
    height: auto;
}

.historia-section .lead {
    text-align: center;
    color: #999;
    font-size: 22px;
    font-weight: 300;
    margin: 0 auto;
    letter-spacing: -1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.historia-section .lead strong {
    color: #999;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .historia-section .container {
        width: 1170px;
    }
} 