
#servicios {
  padding: 60px 0 100px 0;
  background: #f3f3f3;
  border-bottom: 1px solid #e3e3e3;
}

#servicios .container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  max-width: 100%;
}

#servicios h2 {
  text-align: center;
  font-size: 31.5px;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: -3px;
}

#servicios .icon-works {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

#servicios .icon-works::before,
#servicios .icon-works::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #d3d3d3;
  margin: 0 20px;
}

#servicios .icon-works img {
  width: 100px;
  height: auto;

}

#servicios .lead {
  text-align: center;
  color: #999;
  font-size: 21px;
  font-weight: 300px;
  margin: 0 auto;
  line-height: 1.6;
  letter-spacing: -1px;
  font-weight: 300;
}

#servicios .lead strong {
  color: #444;
  font-weight: 700px;
}

@media (min-width: 1200px) {
  #servicios .container {
    width: 1170px;
  }
}
